body {
    overflow-x: hidden;
}

header {
    background-color: blue;
    display: flex;
    justify-content: center;
}

aside {
    background-color: lightblue;
    border-style: solid;
    height: 600px;
}

#currentWeather {
    background-color: gray;
    border-style: solid;
    height: 200px;
    position: relative;
    top: 10px;
}

#forecastWeather {
    background-color: lightcoral;
    border-style: solid;
    height: 250px;
    display: flex;
    position: relative;
    bottom: -100px;
    font-weight: 300;
}

#forecastHeader {
    background-color: purple;
    border-style: solid;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    bottom: -100px;
}